@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  font-family: "Roboto Slab", "Permanent Marker", "Open Sans", serif, cursive;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-light-blue: #00C5E1;
  --primary-blue: #16212C;
  --primary-dark-blue: #071527;
  --green: #78FF99;
  --orange: #ff8c00;
}

html {
  font-size: 68%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  display: flex;
  justify-content: start;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

li {
  list-style: none;
}

h1 {
  font-size: 3.8rem;
  letter-spacing: 0.1rem;

}

h2 {
  font-size: 2.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

h4 {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;

}

h5 {
  font-size: 1.5rem;

}

h6 {
  font-size: 1.3rem;
}


.section {
  min-height: 100vh;
  height: 100%;
}

.section-hero {
  min-height: 120vh;
  height: 100%;
}

.card {
  margin: 1rem 0;
  border-radius: 1rem;
  transition: box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out;

}

.card:hover {
  box-shadow: 1px 5px 10px #ababab;
}


.break-text {
  font-weight: 700;
}

.nav-logo {
  height: auto;
  width: 4.5rem;
}


.navbar-brand {
  color: var(--primary-light-blue);
}

.navbar-brand-span {
  font-weight: 700;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  color: #e7e7e7;
}

.nav-link active {
  color: #8e8e8e;
}



.cursive{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero-bg-image,
.activity-bg-image {
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-bg-image {
  background: url("./assets/hero-bg.jpg") no-repeat center center;
}

.activity-bg-image {
  background: url("./assets/Activities/Img1.jpg") no-repeat center center;
}

.hero-bg-divider,
.hero-bg-divider-4 {
  position: absolute;
  width: 200%;
  height: 100%;
  background: var(--primary-blue);
  transform: rotate(-30deg);
  z-index: 2;
}

.hero-bg-divider-2,
.hero-bg-divider-5,
.hero-bg-divider-7,
.hero-bg-divider-9 {
  position: absolute;
  width: 200%;
  height: 100%;
  background: var(--primary-dark-blue);
  transform: rotate(-30deg);
  z-index: 1;
}

.hero-bg-divider-3,
.hero-bg-divider-6 {
  position: absolute;
  width: 200%;
  height: 100%;
  background: var(--green);
  transform: rotate(-30deg);
  z-index: 0;
}

.hero-bg-divider-8,
.hero-bg-divider-9 {
  position: absolute;
  width: 200%;
  height: 100%;
  background: var(--orange);
  transform: rotate(-30deg);
  z-index: 0;
}

.hero-bg-divider {
  top: -35%;
  left: -85%;
}

.hero-bg-divider-2,
.hero-bg-divider-7 {
  top: -25%;
  left: -85%;
}

.hero-bg-divider-3,
.hero-bg-divider-8 {
  top: -22%;
  left: -85%;
}

.hero-bg-divider-4 {
  bottom: -105%;
  right: -100%;
}

.hero-bg-divider-5 {
  bottom: -93%;
  right: -100%;
}

.hero-bg-divider-6,
.hero-bg-divider-9 {
  bottom: -102%;
  right: -100%;
  z-index: 1;
}

.btn {
  font-size: 1.5rem;
}




.card,
.list-group,
.list-group-item {
  border: none
}

.list-group-item {
  padding: 0.3rem;
}

.rock-climb-bg {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  color: white;
}

.rock-climb-bg::before {
  content: "";
  background: url("./assets/RockClimbing/Img1.jpg") no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: 1;
}

.rock-climb-text {
  position: relative;
  z-index: 10;
  opacity: 1;
}


.drop-shadow-1 {
  filter: drop-shadow(10px 10px 10px 1px #000);
}


.recover-cross {
  position: absolute;
  top: 0;
  left: -0.9rem;
}




.hide {
  visibility: hidden;
}




@media (min-width: 576px) {
  html {
    font-size: 95%;
  }

}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  html {
    font-size: 100%;
  }



  .hero-bg-divider,
  .hero-bg-divider-4 {
    position: absolute;
    width: 200%;
    height: 120%;
    background: var(--primary-blue);
    transform: rotate(-30deg);
    z-index: 2;
  }

  .hero-bg-divider-2,
  .hero-bg-divider-5,
  .hero-bg-divider-7,
  .hero-bg-divider-9 {
    position: absolute;
    width: 200%;
    height: 120%;
    background: var(--primary-dark-blue);
    transform: rotate(-30deg);
    z-index: 1;
  }

  .hero-bg-divider-3,
  .hero-bg-divider-6 {
    position: absolute;
    width: 200%;
    height: 120%;
    background: var(--green);
    transform: rotate(-30deg);
    z-index: 0;
  }

  .hero-bg-divider-8,
  .hero-bg-divider-9 {
    position: absolute;
    width: 200%;
    height: 120%;
    background: var(--orange);
    transform: rotate(-30deg);
    z-index: 0;
  }

  .hero-bg-divider {
    top: -40%;
    left: -100%;
  }

  .hero-bg-divider-2,
  .hero-bg-divider-7 {
    top: -30%;
    left: -100%;
  }

  .hero-bg-divider-3,
  .hero-bg-divider-8 {
    top: -27%;
    left: -100%;
  }

  .hero-bg-divider-4 {
    bottom: -105%;
    right: -100%;
  }

  .hero-bg-divider-5 {
    bottom: -93%;
    right: -100%;
  }

  .hero-bg-divider-6,
  .hero-bg-divider-9 {
    bottom: -102%;
    right: -100%;
    z-index: 1;
  }


}

@media (min-width: 1200px) {
  .hide {
    visibility: visible;
  }
}

@media (min-width: 1400px) {}